# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.sln.ide
*.sln.docstates

# NuGet Packages
*.nupkg
*.snupkg
packages/

# pgData
pgData/